body
{
    display: flex;
    background-color: aliceblue;
}

.main
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid
{
    display: grid;
    width: 500px;
    height: 500px;
    border: 1px solid black;
}

.main ul
{
    display: flex;
    padding: 0;
    gap: 10px;
    justify-content: center;
    list-style: none;
}

.main button
{
    width: 100px;
    height: 40px;
    border-radius: 5px;
}
